body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: georgia,"times new roman",times,serif;
 
}
::selection{
  background: #333A56 !important;
  color: #fff;
  text-shadow: none;
}
body.modal-open{
 
  overflow-y: hidden;
}
body.about-open{
  position: fixed;
  overflow-y: scroll;
}